.main-card{
  position: relative;
  border-radius: 10px;
  background: gray;
  height: 100%;
  align-items: center;
}

.sub-card{
  border-radius: 10px;
  left: 25%;
  top:25%;
  width: 50%;
  height: 50%;
}
.header {
  top: 20%;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
}

.content{
  top: 20%;
  font-size: 65px;
  text-align: center;
}
