<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ladestatus</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card class="main-card"  *ngIf="!isCharging">
    <ion-card-header class="main-header">
      {{this.haeader}}
    </ion-card-header>
  </ion-card>
  <ion-card class="main-card" *ngIf="this.fullscreen && this.isCharging">
    <ion-card-header class="main-header">
      {{this.haeader}}
    </ion-card-header>
    <ion-card-subtitle class="main-subtitle">
      Bisher geladene Leistung
    </ion-card-subtitle>
    <ion-card-content class="main-content">
      {{this.ladestatus.geladeneEnergie}} kWh
    </ion-card-content>
    <ion-card class="card-bottom-right">
      <ion-card-header class="sub-header"> Verbleibende Ladezeit im Slot</ion-card-header>
      <ion-card-content class="sub-content"> {{this.msToTime(this.remainingSlottime)}} </ion-card-content>
      <ion-card-header class="sub-header"> Verbleibende Ladezeit, bis das Fahrzeug voll ist</ion-card-header>
      <ion-card-content class="sub-content"> {{this.msToTime(this.ladestatus.ladedauer.getTime())}}</ion-card-content>
    </ion-card>
    <section class="battery">
      <div class="battery-card">
        <div class="battery-text">
          <h1>Akkustand</h1>
          <p class=battery-percentage>{{this.ladestatus.ladestand}}%</p>
        </div>
        <div class="outer-battery">
          <div class="battery-level">
            <div class="battery-fluid" [style.height]="this.ladestatus.ladestand+'%'"
                 [style.background]="this.batteryFluidColor"></div>
          </div>
        </div>
      </div>
    </section>
  </ion-card>
  <ion-card class="main-card-small-screen" *ngIf="!this.fullscreen && this.isCharging">
    <ion-card-header class="main-header">
      {{this.haeader}}
    </ion-card-header>
    <ion-card-subtitle class="main-subtitle">
      Bisher geladene Leistung
    </ion-card-subtitle>
    <ion-card-content class="main-content">
      {{this.ladestatus.geladeneEnergie}}kw
    </ion-card-content>
    <ion-card class="card-small-screen">
      <ion-card-header class="sub-header"> Verbleibende Ladezeit im Slot</ion-card-header>
      <ion-card-content class="sub-content"> {{this.msToTime(this.remainingSlottime)}}</ion-card-content>
      <ion-card-header class="sub-header"> Verbleibende Ladezeit, bis das Fahrzeug voll ist</ion-card-header>
      <ion-card-content class="sub-content"> {{this.msToTime(this.ladestatus.ladedauer.getTime())}}</ion-card-content>
    </ion-card>
    <section class="battery-small-screen">
      <div class="battery-card-small-screen">
        <div class="battery-text">
          <h1>Akkustand</h1>
          <p class=battery-percentage>{{this.ladestatus.ladestand}}%</p>
        </div>
        <div class="outer-battery">
          <div class="battery-level">
            <div class="battery-fluid" [style.height]="this.ladestatus.ladestand+'%'"
                 [style.background]="this.batteryFluidColor"></div>
          </div>
        </div>
      </div>
    </section>
  </ion-card>
</ion-content>
