.battery {
  height: 100vh;
  display: grid;
  place-items: center;
}

.battery-card {
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 400px;
  height: 400px;
  background-color: gray;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.battery-text {
  margin-left: 10px;

  h1 {
    margin-left: 15px;
    font-weight: bold;
  }

}

.battery-percentage {
  font-size: 25px;
  margin-left: 25px;
}

//Css fuer die Batterie
.outer-battery {
  margin: 50px;
  position: relative;
  background: transparent;
  width: 130px;
  height: 350px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
  bottom: 5px;
  left: 10px;
}

.outer-battery::after {
  content: '';
  position: absolute;
  top: -15px;
  right: 47px;
  width: 25px;
  height: 8px;
  border: 3px solid black;
  border-radius: 5px;
}

.battery-level {
  width: 100%;
  height: 100%;
  background: lightgrey;
}

.battery-fluid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px;
  box-shadow: inset -10px 0 12px hsla(0, 0%, 0%, .1),
  inset 12px 0 12px hsla(0, 0%, 0%, .15);
  transition: box-shadow 3s;
  //height und background werden im HTML-Quelltext gesetzt
}
