<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ladestatus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="battery">
      <div class="battery-card">
        <div class="battery-text">
          <h1>Akkustand</h1>
          <p class = battery-percentage>100%</p>
        </div>
        <div class="outer-battery">
          <div class="battery-level">
            <div class="battery-fluid" [style.height]="this.percentage+'%'" [style.background]="this.batteryFluidColor"></div>
          </div>
        </div>
      </div>
  </section>

</ion-content>
