<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-menu-button></ion-menu-button>
      <ion-title>Ladeplanung</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div col-md-4>
    <div class="btns" *ngIf="this.showButtons">
      <div class="btn-previousDays">
        <ion-button (click)="this.previousDays()">
          Vorherige Tage
        </ion-button>
      </div>
      <div class="btn-nextDays">
        <ion-button (click)="this.nextDays()">
          Nächsten Tage
        </ion-button>
      </div>
    </div>
  </div>
  <h1>Test</h1>
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [daysInWeek]="daysInWeek"
    [dayStartHour]="dayStartHour"
    [dayEndHour]="dayEndHour"
    [events]="events"
    (eventClicked)="handleEvent('Clicked', $event.event)">
  </mwl-calendar-week-view>
</ion-content>
